@model IkinciElEsya.Models.Category

<div class="container mt-4">
    <h2>Yeni Kategori Ekle</h2>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <form action="/Category/Create" method="post">

                <div class="mb-3">
                    <label class="form-label">Kategori Adı</label>
                    <input type="text" name="Name" class="form-control" required />
                </div>

                <div class="mb-3">
                    <label class="form-label">Açıklama</label>
                    <textarea name="Description" class="form-control"></textarea>
                </div>

                <button type="submit" class="btn btn-success">Kaydet</button>
                <a href="/Category/Index" class="btn btn-secondary">İptal</a>
            </form>
        </div>
    </div>
</div>